body {
	max-width: 96ch;
	margin: 2em auto;
}

@media screen and (max-width: 100ch) {
	body {
		margin: 2em 2ch;
	}
}

#pure-slider {
	width: 100%;
}

.two-column {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.two-column > :last-child {
	margin-left: 4ch
}
